

body{
    background-image: url("0.png");
    background-size:100%;
    background-repeat: no-repeat;
}
#login图标{
     width: 400px;
    height: 260px;
    padding: 13px;
    position: static;

    margin-left: 500px;
    margin-right: 500px;
}

#content
{height: 30px;
color: white;
font-size: 18px;
border: 0px;
padding: 0px;
cursor: pointer;
}

