*{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

.floatfix{
    *zoom: 1;
}


.floatfix:after{
    content: "";
    display: table;
    clear: both;
}  /*消除浮动*/
.slider-contaner{
    width:100%;
    position: relative;
}

.slider,.slider-item{
    padding-bottom: 60%;/*内边距*/
}

.slider-item{
    width: 100%;
    position: absolute;
    background-size: 100%;
}

.slider-item1{
    background-image: url("1.jpg");
}
.slider-item2{
    background-image: url("2.jpg");
}
.slider-item3{
    background-image: url("3.jpg");
}
.slider-item4{
    background-image: url("4.jpg");
}
.slider-item5{
    background-image: url("5.jpg");
}
@keyframes fade{
0%{
      opacity:0;
      z-index:2;
}
5%{
      opacity:1;
      z-index: 1;
}
20%{
      opacity:1;
      z-index:1;
}
25%{
      opacity:0;
      z-index:0;
}
100%{
      opacity:0;
      z-index:0;
}
}
.slider-item + .slider-item{
      opacity:0;
}
.slider-item1{
      animation-delay: -1s;
}
.slider-item2{
      animation-delay: 3s;
}
.slider-item3{
      animation-delay: 7s;
}
.slider-item4{
      animation-delay: 11s;
}
.slider-item5{
      animation-delay: 15s;
}